extends layout 

block content 
    header 
        h1= 'Message Board'
    main
        section.form-container 
            form(method='POST' action='/new')
                textarea(name='message' placeholder='Message' cols='30' )
                input(type='text' placeholder='Username' name='user' id='username')
                button(type='submit' id='submit-btn')= 'post'